/* just to be able to see the div, this is your starting point*/
/* You can create your own classess, animations etc*/
#to-be-animated {
  width: 200px;
  height: 200px;
  background-color: red;
  position: fixed; /*absolute*/
  top:50%;
  left:50%;
  margin-top: -100px;
  margin-left: -100px;
}

.rotate {
  animation: rotate 1s;
}

.up_down {
  animation: up_down 1s;
}

@keyframes rotate {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);} 
}

@keyframes up_down {
  0%, 100% {
    top: 50%;
  }
  50% {
    top: 0%;
  }
}